<!-- buttons for exploring blog_idk if gonna use?? -->

<div class="col-12 col-lg-6 align-items-center justify-content-center">

    <h1 class="display-5 fw-bold mb-3">Magic with Ribbon</h1>
    <p class="lead align-items-center justify-content-center g-5 py-4 mb-4">
        Magic is deeply concerned with the hidden connections between objects in the phenomenal world. A statue becomes
        a god,
        an herb becomes the erotic force of love. To work magic requires a keen sense of metaphor. <br><br>If you’d like
        to be a better witch, occultist, karcist, or spiritual worker, read more poetry. Or hell, write some verse
        in your own hand. You're alive, after all. The Art Magical is but one art of many, and they cross fertilize.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-recent" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Most recent Blog Posts</a>
        <a href="/random-post" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Take a Chance</a>
        can also style a button with class="btn btn-outline-secondary btn-lg px-4 me-md-2"
    </div>
</div>


<!-- blog thumbnails--use?? -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/A2NQtr0.png" alt="Plant Medicine" Loading="lazy">
        </div>
        <div class="pt-1">Plant Medicine</div>
    </a>

    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/LwRipAA.png" alt="Tarot" Loading="lazy">
        </div>
        <div class="pt-1">Tarot</div>
    </a>

    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/T5cNPZC.png" alt="Occult History" Loading="lazy">
        </div>
        <div class="pt-1">Occult History</div>
    </a>

    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/dR7noSQ.png" alt="view all" Loading="lazy">
        </div>
        <div class="pt-1">View all</div>
    </a>


</div>
<!-- blog thumbnails--end -->