<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-2 col-lg-6">
        <img src="https://i.imgur.com/invwazz.png" width="300" height="300" alt="Ribbon logo"
            class="d-block mx-lg-auto img-fluid" loading="lazy">
    </div>


    <div class="col-12 col-lg-6">

        <h1 class="display-5 fw-bold mb-0">Magic with Ribbon</h1>
        <p class="lead">
            Witchcraft is meant to be shared. Worked for and with others. As times get weirder and hellfire rises,
            ancient
            traditions of healing, power, and spirit congress are being revived. In this beautiful, stinking world, it
            helps
            to have a witch you can count on, a magician you can trust. <br><br> I’m pleased to be offering tarot
            readings
            and ELDRITCH consulting sessions. <a href="https://tidycal.com/magicbyribbon" target="_blank"
                class="intro-link link-secondary"> Schedule an
                appointment</a> , catch up with my <a href="/blog" class="intro-link  link-secondary">blog</a>, and
            please
            be <a a href="/contact" class="intro-link link-secondary">in touch</a>, there is much <a href="/signIn"
                class="nav-link  link-secondary">work</a>to be done!

        </p>
    </div>
</div>

<!-- stuff to move to blog main page!!!!! -->



<div class="col-12 col-lg-6 align-items-center justify-content-center">

    <h1 class="display-5 fw-bold mb-3">Magic with Ribbon</h1>
    <p class="lead align-items-center justify-content-center g-5 py-4 mb-4">
        Magic is deeply concerned with the hidden connections between objects in the phenomenal world. A statue becomes
        a god,
        an herb becomes the erotic force of love. To work magic requires a keen sense of metaphor. <br><br>If you’d like
        to be a better witch, occultist, karcist, or spiritual worker, read more poetry. Or hell, write some verse
        in your own hand. You're alive, after all. The Art Magical is but one art of many, and they cross fertilize.
    </p>

    <!-- buttons for exploring blog_idk if gonna use?? -->

    <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-recent" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Most recent Blog Posts</a>
        <a href="/random-post" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Take a Chance</a>
        can also style a button with class="btn btn-outline-secondary btn-lg px-4 me-md-2"
    </div> -->
</div>


<!-- blog thumbnailes--use?? -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/A2NQtr0.png" alt="Plant Medicine" Loading="lazy">
        </div>
        <div class="pt-1">Plant Medicine</div>
    </a>

    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/75kfnPP.png" alt="Tarot" Loading="lazy">
        </div>
        <div class="pt-1">Tarot</div>
    </a>

    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/R3n9tbs.png" alt="Occult History" Loading="lazy">
        </div>
        <div class="pt-1">Occult History</div>
    </a>

    <a href="#" class="col test-center category__link">
        <div class="category__img shadow">
            <img src="https://i.imgur.com/dR7noSQ.png" alt="view all" Loading="lazy">
        </div>
        <div class="pt-1">View all</div>
    </a>


</div>
<!-- blog thumbnails--end -->


<!-- most recent posts start -->

<!-- WHY IS THIS STYLED WEIRD????? 55ish min mark of tutorial -->
<section class="pb-4 pt-4">
    <div calss="d-flex mb-2 align-items-center">
        <h2>Latest Posts</h2>
        <a href="/blog-latest" class="ms-auto">View More</a>
    </div>



    <div class="row row-cols-2 row-cols-ls-5 g-2 g-lg-3">
        <a href="/posts/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="https://i.imgur.com/yxPOP6S.png" alt="view all" Loading="lazy">
            </div>
            <div class="pt-1">Come to me, O beloved mistress…</div>
        </a>
    </div>

    <!--future posts -->
    <div class="row row-cols-2 row-cols-ls-5 g-2 g-lg-3">
        <a href="/posts/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="https://i.imgur.com/yxPOP6S.png" alt="view all" Loading="lazy">
            </div>
            <div class="pt-1">Come to me, O beloved mistress…</div>
        </a>
    </div>
    <div class="row row-cols-2 row-cols-ls-5 g-2 g-lg-3">
        <a href="/posts/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="https://i.imgur.com/yxPOP6S.png" alt="view all" Loading="lazy">
            </div>
            <div class="pt-1">Come to me, O beloved mistress…</div>
        </a>
    </div>
    <div class="row row-cols-2 row-cols-ls-5 g-2 g-lg-3">
        <a href="/posts/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="https://i.imgur.com/yxPOP6S.png" alt="view all" Loading="lazy">
            </div>
            <div class="pt-1">Come to me, O beloved mistress…</div>
        </a>
    </div>


</section>




<!-- most recent posts end -->