<div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-4 mb-4">
    <div class="col-2 col-lg-6">
        <img src="https://i.imgur.com/invwazz.png" width="300" height="300" alt="Ribbon logo"
            class="d-block mx-lg-auto img-fluid" loading="lazy">
    </div>
</div>

<div class="col-12 col-lg-6 align-items-center justify-content-center">

    <h1 class="display-5 fw-bold mb-3">Magic with Ribbon</h1>
    <p> class="lead align-items-center justify-content-center g-5 py-4 mb-4">
        Witchcraft is meant to be shared. Worked for and with others. As times get weirder and hellfire rises, ancient
        traditions of healing, power, and spirit congress are being revived. In this beautiful, stinking world, it helps
        to have a witch you can count on, a magician you can trust. <br><br> I’m pleased to be offering tarot readings
        and ELDRITCH consulting sessions. <a href="https://tidycal.com/magicbyribbon" target="_blank"
            class="intro-link link-secondary"> Schedule an
            appointment</a> , catch up with my <a href="/blog" class="intro-link  link-secondary">blog</a>, and
        please
        be <a a href="/contact" class="intro-link link-secondary">in touch</a>, there is much <a href="/signIn"
            class="nav-link  link-secondary">work</a>to be done!

    </p>
</div>