body {
    background-color: #ece3dc;
}

h2 {
    color: #57383d;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#site-nav-banner {
    display: flex;
    text-align: center;

}

.links-banner {
    display: flex;
}

.index-links {
    height: 80px;
    width: auto;
}

.index-links a {
    color: #57383d;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.logo-banner {
    filter: drop-shadow(0px 3px 3px rgb(56, 56, 56));
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.divider-line {
    border-top: 3px solid #a79795;
    border-radius: 5px;
}

#index-section-heading {
    text-align: center;
}

.blog-box {
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: center;
}

#blog-post {
    margin-top: 20px;
    margin-bottom: 20px;
}

#blog-title {
    color: #57383d;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}

h3 {
    color: #57383d;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

h4 {
    color: #57383d;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    width: fit-content;
    float: right;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;
    font: 200;
}

#blog-image {
    float: left;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.testimonials {
    height: 200px;
    width: 75%;
    text-align: center;
    display: inline-flex;
}

#testimonial-boxes {
    border-style: ridge;
    border-color: #43474f;
    border-width: 3px;
    border-radius: 3px;
    height: 200px;
    width: 300px;
    text-align: center;
}

#testimonial-title {
    color: #57383d;
    font-size: medium;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#testimonials.boxes a {
    color: #57383d;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: #57383d;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-wrapper {
    display: flex;
    /*means the results will grow/shrink to fit space*/
    flex-direction: column;
    /*stacks results*/
    gap: .25rem;
    /*spaces label from input box*/
}

/* div.headerNavigation {
    position: fixed;
    top: 20px;
    left: 20px;
} */



.SearchBar {
    position: absolute;
    top: 355px;
    left: 575px;

}

.SearchBar input {
    height: 30px;
    width: 50px;
}

input {
    font-size: 16px;
    /*makes input same size as the rest fo the font*/
    font-family: "Lato", sans-serif, thin;
    color: rgb(95, 94, 94);
}

.results-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150pm, 1fr));
    /*changes # of columns with window/screen size*/
    gap: 4px;
    /*gap between cards*/
    margin-top: 16px;
    /*spaces it from search bar*/
}

.card {
    border: 1px solid rgb(136, 136, 136);
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 50px;
}

.card>.header {
    margin-bottom: .4px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Lato", sans-serif, thin;
    color: rgb(95, 94, 94)
}

.card>.body {
    font-size: 12px;
    font-family: "Lato", sans-serif, thin;
    color: #777
}